.bg-container{
	background-image: url("../imagens/background.jpeg" ) ;
	background-repeat: no-repeat;
	width: 100%;
	height: auto !important;
	background-size: cover;
}


@font-face{
	font-family: "Caveat-Regular";
    src: url("../fontes/Caveat-Regular.ttf");
}

.form-control{
	border-bottom: 1px solid black !important;
    border: none ;
	border-radius: 0 !important;
}


.h-100vh{
	height: 100vh !important;
}

.inicio-2{
    font-family:"Caveat-Regular" !important;
    color:#ffbf00;
    font-size: 4rem;

}


.card{
	width:20rem;
}
.c-1{
	margin-top:1rem;
}

 .d-1{
	padding:2rem;
 }
 .cc-1 {
    
 		width:28rem;
 }
 

   


div.col.p-4.text-center{
    left:-1rem;
    margin-top: 2rem;
}

 

